@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700;800;900&family=Sail&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow-x: none;
}

body {
  background-color: #1a1a1a;
  color: #fff;
  font-family: 'Poppins', sans-serif;
  -ms-scroll-snap-type: y mandatory;
      scroll-snap-type: y mandatory;
  overflow-y: scroll;
}

section {
  scroll-snap-align: start;
}

a {
  text-decoration: none;
  color: #fff;
}

.accent {
  color: #0075ff;
}

.container {
  margin: 0 5rem;
}

nav {
  margin: 2rem auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

nav ul li {
  margin-left: 3rem;
}

.brand {
  font-family: 'Sail', cursive;
  font-size: 2rem;
}

.faced {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 89vh;
}

.faced .greeting {
  font-weight: 900;
  font-size: 5rem;
  -webkit-transform: translateY(-5rem);
          transform: translateY(-5rem);
}

.faced .greeting .unimp {
  display: block;
  font-weight: 800;
}

.faced .greeting .link-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #0075ff;
  color: #fff;
  border: 0;
  border-radius: 100px;
  padding: 20px;
  margin-top: 1rem;
  font-size: 1rem;
  font-family: 'Poppins';
  cursor: pointer;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

.faced .greeting .link-btn:focus {
  outline: none;
}

.faced .greeting .link-btn:hover {
  color: #1a1a1a;
  background-color: #fff;
}

.faced .greeting .link-btn svg {
  margin-left: 5px;
}

.faced img {
  margin-left: 1rem;
}

.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100vh;
}

.about h1 {
  font-size: 3rem;
}

.about .content {
  width: 40vw;
}

.about .content p {
  line-height: 1.5;
}

.about img {
  height: 20vw;
  margin-right: 70px;
}

.skill {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100vh;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.skill h1 {
  font-size: 3rem;
  margin: 0 auto 5rem auto;
}

.skill ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  font-size: 2rem;
}

.skill ul li {
  margin-right: 6rem;
}

.skill ul :last-child {
  margin-right: 0;
}

.contact {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact h1 {
  font-size: 3rem;
  margin: 0 auto 5rem auto;
}

.contact ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  font-size: 2rem;
}

.contact ul li {
  margin-right: 6rem;
  cursor: pointer;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

.contact ul li:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.contact ul :last-child {
  margin-right: 0;
}

@media only screen and (max-width: 600px) {
  .container {
    margin: 0 2rem;
  }
  nav ul {
    display: none;
    list-style: none;
  }
  nav ul li {
    margin-left: 3rem;
  }
  .brand {
    font-family: 'Sail', cursive;
    font-size: 2rem;
  }
  .faced {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 89vh;
    text-align: center;
  }
  .faced .greeting {
    font-weight: 900;
    font-size: 3rem;
    -webkit-transform: translateY(-5rem);
            transform: translateY(-5rem);
    position: relative;
  }
  .faced .greeting .unimp {
    display: block;
    font-weight: 800;
    font-size: 2rem;
  }
  .faced .greeting .link-btn {
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  .faced img {
    display: none;
  }
  .about {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: auto;
  }
  .about h1 {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 1rem;
  }
  .about .content {
    width: 70vw;
  }
  .about .content p {
    text-align: justify;
  }
  .about img {
    display: none;
  }
  .skill {
    height: auto;
    margin-top: 30vh;
  }
  .skill h1 {
    font-size: 2rem;
  }
  .skill ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    font-size: 2rem;
    text-align: center;
  }
  .skill ul li {
    margin-right: 0;
    margin-bottom: 3rem;
  }
  .skill ul :last-child {
    margin-bottom: 0;
  }
  .contact {
    height: 100vh;
  }
  .contact h1 {
    font-size: 2rem;
  }
  .contact ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contact ul li {
    text-align: center;
    margin-right: 0rem;
    margin-bottom: 2rem;
  }
  .contact ul :last-child {
    margin-right: 0;
    margin-bottom: 0;
  }
}
