@font-face {
    font-family: 'droid_sansregular';
    src: url('fonts/droidsans/droidsans-webfont.woff2') format('woff2'),
         url('fonts/droidsans/droidsans-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'courier_prime_coderegular';
    src: url('fonts/courier/courier_prime_code-webfont.woff2') format('woff2'),
         url('fonts/courier/courier_prime_code-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
body {
    background: url('images/papyrus-dark.png');
    font-family: 'droid_sansregular', sans-serif;;
}
.dropbtn {
  background: url('images/papyrus-dark.png');
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
  padding-bottom: 100px;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.topbar{
 padding-bottom: 100px;
}
.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background: url('images/denim.png');}

.hello{
  font-size: 5.5em;
  color: white;
  font-family: 'courier_prime_coderegular';
  text-align: center;
  padding-bottom: 500px;
}
#socials{

  text-align: center;
}
#socials img{
  width:50px;
  height:50px;
  padding-right: 10px;
}
.blog{
  padding-top: 50px;
  font-size: 1.1em;
  padding: inherit;
  font-family:'droid_sansregular';
  color: white;
  padding-bottom: 50px;
}
.footer{
  color: white;
  font-family: 'droid_sansregular';
  font-size: 1.5em;
}
.blink {
	-webkit-animation: blink .75s linear infinite;
	-moz-animation: blink .75s linear infinite;
	-ms-animation: blink .75s linear infinite;
	-o-animation: blink .75s linear infinite;
	 animation: blink .75s linear infinite;
}
@-webkit-keyframes blink {
	0% { opacity: 1; }
	50% { opacity: 1; }
	50.01% { opacity: 0; }
	100% { opacity: 0; }
}
@-moz-keyframes blink {
	0% { opacity: 1; }
	50% { opacity: 1; }
	50.01% { opacity: 0; }
	100% { opacity: 0; }
}
@-ms-keyframes blink {
	0% { opacity: 1; }
	50% { opacity: 1; }
	50.01% { opacity: 0; }
	100% { opacity: 0; }
}
@-o-keyframes blink {
	0% { opacity: 1; }
	50% { opacity: 1; }
	50.01% { opacity: 0; }
	100% { opacity: 0; }
}
@keyframes blink {
	0% { opacity: 1; }
	50% { opacity: 1; }
	50.01% { opacity: 0; }
	100% { opacity: 0; }
}
